.vote-popup
	display block
	&.fancybox-content
		background transparent
		padding 10px 10px 30px
		overflow visible
		&__wrapper 
			margin 0 auto 
			margin-bottom 4rem
		.hero-list__wrapper
			justify-content space-between 
			align-items center
			padding 2rem 0
			position relative 
		.hero-list__wrap
			margin-right 0
			transition .3s
			width 85px
			height 85px
			&:hover
				transform scale(1.1)
		.hero-list__image
			max-height 100px
	&__wrapper
		position relative
		display flex
		background-color $w
		border-radius 20px
		+below($lg)
			flex-direction column
			.vote-popup__image
				width 100%
				padding 3rem
				border-right none
			.vote-popup__form
				width 100%
				padding 3rem
		+below($md)
			flex-direction column
			.vote-popup__image
				padding 30px 0
				width 28rem
				height 28rem
				margin 0 auto 
				margin-bottom 4rem
				&-value 
					max-width 100%
					height auto
					max-height 100%
					margin 0 auto
			.vote-popup__form
				padding 10px
				&-wrapper 
					max-width 100%
		+below($sm)
			padding 0 0 10px
	&__container
		position relative
		padding 3rem 0
		max-width 980px		 
		& + .hero-list 
			max-width 980px
		+below($lg)
			padding 0
	&__image
		width 50%
		padding 6.5rem 10rem 9.5rem
		display flex
		justify-content center
		border-right 1px dashed $grey
		&-value 
			height 32rem
			width auto
		+below($md)
			width 100%
			border-right none
			padding 2.5rem 0 5rem
		&-block
			position relative
	&__name
		position absolute
		bottom 0
		left 50%
		transform translateX(-50%)
		max-width 100%
	&__form
		width 50%
		padding 9.4rem 10rem 8rem
		display flex
		justify-content center
		border-left 1px dashed $grey
		+below($md)
			width 100%
			border-left none
			padding 0 0 4rem
		&-wrapper
			max-width 280px
	&__value
		color $blue
		padding 0 5px
	&__title
		margin-bottom 1.7rem
	&__text
		margin-bottom 3.9rem
		text-align center
		font-size 1.8rem
		line-height 1.39
	.form__input
		text-align center
	.form__button
		width 28rem
	&__button
		top 50%
		transform translateY(-50%)
		+below($lg)
			display none
		&_prev
			left 5rem
			transform translateY(-50%) rotate(180deg)
		&_next
			right 5rem
	&__close
		position absolute
		right 20px
		top 20px
	&-slider
		border-radius 20px
		overflow hidden
		box-shadow 0 1px 1px rgba(124, 67, 0, .08), 0 2px 2px rgba(124, 67, 0, .08), 0 4px 4px rgba(124, 67, 0, .08), 0 8px 8px rgba(124, 67, 0, .08), 0 16px 16px rgba(124, 67, 0, .08)
		.swiper-slide
			background transparent 
		.swiper-button
			display flex 
			justify-content center
			align-items center
			width 6rem
			height 6rem
			border-radius 50%
			background $w
			border 2px solid $grey
			transition .3s
			box-shadow 0 5px 15px transparent
			+below($md)
				transform translateY(-6rem)
			&:after
				display none
			&.swiper-button-prev
				transform scale(-1, 1)
				left -10rem
				+below($lg)
					left 10px
					transform scale(-1, 1) translateY(-6rem)				
			&.swiper-button-next
				right -10rem
				+below($lg)
					transform translateY(-6rem)
					right 10px
				.icon 
					margin-left 4px
			&:hover
				background linear-gradient(283.38deg, #008EF4 0, #63D4FF 100%, #63D4FF 100%)
				box-shadow 0 5px 15px rgba(44, 173, 250, .37)
				border-color $w
				.icon 
					stroke $w

