.stat
	display block
	padding-top 1.5rem
	&__wrapper
		display flex
		flex-direction column
	&__rating
		display flex
		flex-direction column
		align-items center
		margin-bottom 6rem
		&-icon
			margin-bottom 3rem
		&-value
			font-size 4.5rem
			line-height .89
			color $b
			font-family $bor
			text-shadow 0 1px 3px rgba(0, 100, 171, .25)
			margin-bottom 1.1rem
		&-place
			font-size 2rem
			line-height 1.5
			color $blue
			margin-bottom 3.1rem
	&__chart
		display flex
		align-items flex-end
		justify-content space-between
		&-col
			display flex
			flex-direction column
			align-items center
		&-value
			font-size 3.5rem
			line-height 4rem
			font-family $bor
			&_blue
				color $blue
		&-title
			font-family $bor
			font-size 2.2rem
			line-height 1.14
		&-image-block
			margin-bottom 4rem
	&__char
		&-list
			display flex
			flex-direction column
			padding 1.6rem 0
			border-top 2px dashed $grey
			border-bottom 2px dashed $grey
		&-item
			display flex
			justify-content space-between
			padding 3.3rem 0
			align-items center
		&-title
			font-size 1.8rem
			line-height 1.39
		&-value
			font-size 2.5rem
			line-height 1.2
