mixin stat(hero)
	+b.stat&attributes(attributes)
		+e.container.container
			+e.wrapper
				+e.rating
					+e.rating-icon
						svg(width='91', height='39',viewbox='0 0 91 39', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M5.70509 35.5961C5.50109 35.5961 5.30009 35.5321 5.13009 35.4091C4.86909 35.2201 4.71809 34.9131 4.72709 34.5911L4.91709 27.6841L0.703089 22.2071C0.506089 21.9521 0.448088 21.6161 0.548088 21.3091C0.648088 21.0011 0.892089 20.7631 1.20209 20.6731L7.83009 18.7191L11.7361 13.0191C12.1001 12.4881 12.9861 12.4881 13.3501 13.0191L17.2561 18.7191L23.8831 20.6731C24.1921 20.7641 24.4371 21.0021 24.5371 21.3091C24.6361 21.6161 24.5791 21.9521 24.3821 22.2071L20.1691 27.6841L20.3591 34.5911C20.3681 34.9131 20.2171 35.2201 19.9561 35.4091C19.6951 35.5991 19.3571 35.6491 19.0531 35.5401L12.5431 33.2241L6.03209 35.5401C5.92609 35.5771 5.81509 35.5961 5.70509 35.5961ZM3.12509 22.1451L6.68009 26.7661C6.81709 26.9441 6.88909 27.1641 6.88309 27.3891L6.72209 33.2161L12.2161 31.2621C12.4281 31.1871 12.6591 31.1871 12.8711 31.2621L18.3641 33.2161L18.2031 27.3891C18.1971 27.1641 18.2681 26.9441 18.4061 26.7661L21.9611 22.1451L16.3691 20.4961C16.1531 20.4331 15.9661 20.2961 15.8391 20.1111L12.5431 15.3021L9.24709 20.1111C9.12009 20.2961 8.93309 20.4331 8.71709 20.4961L3.12509 22.1451Z', fill='url(#paint0_linear)')
							path(d='M85.2971 35.5961C85.1871 35.5961 85.0761 35.5781 84.9691 35.5401L78.4581 33.2241L71.9481 35.5401C71.6451 35.6501 71.3071 35.5991 71.0451 35.4091C70.7841 35.2201 70.6331 34.9131 70.6421 34.5911L70.8321 27.6841L66.6181 22.2071C66.4211 21.9521 66.3631 21.6161 66.4631 21.3091C66.5631 21.0011 66.8071 20.7631 67.1171 20.6731L73.7441 18.7191L77.6501 13.0191C78.0141 12.4881 78.8981 12.4881 79.2641 13.0191L83.1711 18.7191L89.7981 20.6731C90.1071 20.7641 90.3521 21.0021 90.4521 21.3091C90.5511 21.6161 90.4941 21.9521 90.2971 22.2071L86.0831 27.6841L86.2731 34.5911C86.2821 34.9131 86.1311 35.2201 85.8701 35.4091C85.7021 35.5311 85.5011 35.5961 85.2971 35.5961ZM78.4591 31.2071C78.5701 31.2071 78.6811 31.2261 78.7871 31.2631L84.2811 33.2171L84.1211 27.3901C84.1151 27.1651 84.1861 26.9451 84.3241 26.7671L87.8791 22.1461L82.2871 20.4971C82.0711 20.4341 81.8841 20.2971 81.7571 20.1121L78.4611 15.3021L75.1651 20.1121C75.0381 20.2971 74.8511 20.4341 74.6351 20.4971L69.0431 22.1461L72.5981 26.7671C72.7351 26.9451 72.8071 27.1651 72.8001 27.3901L72.6401 33.2171L78.1331 31.2631C78.2371 31.2261 78.3481 31.2071 78.4591 31.2071Z', fill='url(#paint1_linear)')
							path(d='M65.441 15.3701C65.341 15.0601 65.101 14.8201 64.791 14.7301L53.161 11.3001L46.311 1.30009C45.941 0.770088 45.061 0.770088 44.691 1.30009L37.841 11.3001L26.211 14.7301C25.901 14.8201 25.661 15.0601 25.561 15.3701C25.461 15.6701 25.521 16.0101 25.711 16.2601L33.111 25.8701L32.771 37.9901C32.761 38.3101 32.911 38.6201 33.171 38.8101C33.341 38.9301 33.551 39.0001 33.751 39.0001C33.861 39.0001 33.971 38.9801 34.081 38.9401L45.501 34.8801L56.921 38.9401C57.231 39.0501 57.561 39.0001 57.831 38.8101C58.091 38.6201 58.241 38.3101 58.231 37.9901L57.891 25.8701L65.291 16.2601C65.481 16.0101 65.541 15.6701 65.441 15.3701Z', fill='url(#paint2_linear)')
							defs
								lineargradient#paint0_linear(x1='24.5847', y1='12.6208', x2='12.6747', y2='40.6162', gradientunits='userSpaceOnUse')
									stop(stop-color='#FCFF71')
									stop(offset='1', stop-color='#FFC632')
								lineargradient#paint1_linear(x1='90.4998', y1='12.6208', x2='78.5893', y2='40.6165', gradientunits='userSpaceOnUse')
									stop(stop-color='#FCFF71')
									stop(offset='1', stop-color='#FFC632')
								lineargradient#paint2_linear(x1='65.4889', y1='0.902587', x2='45.754', y2='47.3369', gradientunits='userSpaceOnUse')
									stop(stop-color='#FCFF71')
									stop(offset='1', stop-color='#FFC632')
					+e('span').rating-value= hero.rating + '%'
					+e('span').rating-place= hero.place + ' место в рейтинге'
					+e.button-wrapper
						+e('button').button.button._success Голосовать
				+e.chart
					+e.chart-col._win
						+e('span').chart-value._blue= hero.wins
						+e.chart-image-block
							+e('img').image._win(src="./assets/images/heroes/#{hero.winimage}")
						+e('span').chart-title Победы
					+e.chart-col._lose
						+e('span').chart-value= hero.lose
						+e.chart-image-block
							+e('img').image._win(src="./assets/images/heroes/#{hero.loseimage}")
						+e('span').chart-title Поражения
				+e.char
					+e('ul').char-list
						+e('li').char-item
							+e('span').char-title Рост
							+e('span').char-value= hero.height + ' см'
						+e('li').char-item
							+e('span').char-title Вес
							+e('span').char-value= hero.weight + ' г'
						+e('li').char-item
							+e('span').char-title Запас энергии
							+e('span').char-value= hero.cal + ' ккал'
