mixin sprite()
	svg.hidden(width='0', height='0')
		symbol#back(viewbox='0 0 13 16', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M9.75 13.5L4.25 8l5.5-5.5', stroke-width='5', stroke-linecap='round')
		symbol#link-arrow(viewbox='0 0 11 15', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M1.723 1.943l5.5 5.494-5.5 5.494', stroke-width='4')
		symbol#globe(viewbox='0 0 24 25', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd', clip-rule='evenodd', d='M12 1.962c6.075 0 11 4.92 11 10.988 0 6.069-4.925 10.989-11 10.989S1 19.019 1 12.95C1 6.882 5.925 1.962 12 1.962zM3.066 11.86c.291.373 1.102.85 2.343 1.239a15.45 15.45 0 0 0 1.597.402A27.072 27.072 0 0 1 7 12.95c0-3.324.606-6.325 1.655-8.348a9.001 9.001 0 0 0-5.59 7.257zm4.063 3.7c-1.605-.28-2.982-.701-4.026-1.244A9.004 9.004 0 0 0 8.655 21.3c-.766-1.477-1.296-3.476-1.526-5.74zm2.05.266c.897.08 1.842.122 2.821.122.964 0 1.913-.054 2.825-.155-.45 3.593-1.698 6.149-2.825 6.149-1.123 0-2.366-2.54-2.82-6.116zm5.807-2.07A23.4 23.4 0 0 1 12 13.95c-1.044 0-2.046-.051-2.984-.15-.01-.279-.016-.562-.016-.849 0-5.01 1.594-8.99 3-8.99 1.407 0 3 3.98 3 8.99 0 .272-.004.54-.014.804zm1.893 1.72c-.225 2.3-.758 4.329-1.533 5.824a9.002 9.002 0 0 0 5.575-7.153c-1.06.55-2.456 1.011-4.041 1.329zm4.05-3.663c-.47.527-1.955 1.154-3.932 1.592.002-.15.003-.302.003-.454 0-3.324-.605-6.325-1.654-8.348a9.001 9.001 0 0 1 5.583 7.21z', fill='#008EF4')
		symbol#mail(viewbox='0 0 25 25', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd', clip-rule='evenodd', d='M3.303 3.96h18c1.105 0 2 .894 2 1.998v13.985a1.999 1.999 0 0 1-2 1.997h-18c-1.104 0-2-.894-2-1.997V5.958c0-1.104.896-1.998 2-1.998zm0 6.61v9.373h18V10.57l-9 4.495-9-4.495zm0-2.233l9 4.496 9-4.495v-2.38h-18v2.38z', fill='#008EF4')
		symbol#list(viewbox='0 0 13 16', fill='none', xmlns='http://www.w3.org/2000/svg')
			rect(x='1', y='1.263', width='11', height='12.984', rx='1', stroke='#008EF4', stroke-width='2')
			path(d='M3.5 5.257h6m-6 2.997h3', stroke='#008EF4', stroke-width='2')
		symbol#phone(viewbox='0 0 24 25', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd', clip-rule='evenodd', d='M10.857 9.292c.518-.697.704-1.432.118-2.08-1.315-1.839-2.2-2.975-2.754-3.523-1.055-1.04-2.79-.9-3.703 0-.49.482-.657.648-1.16 1.159-2.806 2.804-1.095 8.732 3.454 13.28 4.547 4.547 10.48 6.257 13.292 3.447.465-.448.859-.84 1.169-1.169.895-.945 1.031-2.601-.006-3.677-.531-.552-1.616-1.393-3.534-2.763-.587-.524-1.283-.41-1.922.008-.307.201-.53.405-.952.827l-.767.765c-.1.101-1.47-.584-2.801-1.914-1.331-1.331-2.017-2.7-1.916-2.8l.766-.767c.134-.134.198-.199.28-.285.171-.18.313-.342.436-.508zm4.649 7.687l.766-.766c.233-.232.383-.375.506-.473 1.68 1.205 2.652 1.962 3.05 2.375.238.247.2.699-.007.918-.287.303-.66.676-1.117 1.116-1.818 1.817-6.608.437-10.479-3.433-3.872-3.872-5.253-8.657-3.449-10.46.502-.51.661-.668 1.145-1.144.18-.179.675-.219.895-.001.427.421 1.22 1.435 2.385 3.056-.06.075-.136.16-.227.256l-.246.25-.766.765c-1.304 1.302-.194 3.517 1.915 5.626 2.108 2.107 4.326 3.217 5.629 1.915z', fill='#008EF4')
		symbol#facebook(viewbox='0 0 21 21', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M3.148.557a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3H10.8v-7.725H8.196V9.678h2.603V7.029a3.488 3.488 0 0 1 3.488-3.488h2.722v2.836h-1.948c-.612 0-1.108.497-1.108 1.109v2.192h3.007l-.415 3.154h-2.592v7.725h3.195a3 3 0 0 0 3-3v-14a3 3 0 0 0-3-3h-14z', fill='#2B29A6')
		symbol#inst(viewbox='0 0 21 21', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M14.194.557H6.102a5.967 5.967 0 0 0-5.966 5.96v8.084c0 3.285 2.674 5.956 5.966 5.956h8.092c3.289 0 5.967-2.671 5.967-5.96v-8.08a5.972 5.972 0 0 0-5.967-5.96zm3.95 14.044a3.95 3.95 0 0 1-3.95 3.945H6.102a3.95 3.95 0 0 1-3.95-3.945V6.517a3.95 3.95 0 0 1 3.95-3.945h8.092a3.95 3.95 0 0 1 3.95 3.945v8.084z', fill='url(#paint00_linear)')
			path(d='M10.146 5.385a5.18 5.18 0 0 0-5.178 5.172 5.18 5.18 0 0 0 5.178 5.172 5.18 5.18 0 0 0 5.178-5.172 5.18 5.18 0 0 0-5.178-5.172zm0 8.334a3.163 3.163 0 0 1-3.165-3.162 3.163 3.163 0 0 1 3.165-3.161 3.163 3.163 0 0 1 3.165 3.161 3.163 3.163 0 0 1-3.165 3.162z', fill='url(#paint01_linear)')
			path(d='M15.335 6.662a1.238 1.238 0 1 0 .002-2.476 1.238 1.238 0 0 0-.002 2.476z', fill='url(#paint02_linear)')
			defs
				lineargradient#paint00_linear(x1='15.336', y1='20.5', x2='15.336', y2='.712', gradientunits='userSpaceOnUse')
					stop(stop-color='#E09B3D')
					stop(offset='.3', stop-color='#C74C4D')
					stop(offset='.6', stop-color='#C21975')
					stop(offset='1', stop-color='#7024C4')
				lineargradient#paint01_linear(x1='15.336', y1='20.5', x2='15.336', y2='.712', gradientunits='userSpaceOnUse')
					stop(stop-color='#E09B3D')
					stop(offset='.3', stop-color='#C74C4D')
					stop(offset='.6', stop-color='#C21975')
					stop(offset='1', stop-color='#7024C4')
				lineargradient#paint02_linear(x1='15.336', y1='20.5', x2='15.336', y2='.712', gradientunits='userSpaceOnUse')
					stop(stop-color='#E09B3D')
					stop(offset='.3', stop-color='#C74C4D')
					stop(offset='.6', stop-color='#C21975')
					stop(offset='1', stop-color='#7024C4')
		symbol#vk(viewbox='0 0 21 21', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd', clip-rule='evenodd', d='M13.218.557h-6.14c-5.603 0-6.93 1.327-6.93 6.93v6.14c0 5.603 1.327 6.93 6.93 6.93h6.14c5.603 0 6.93-1.327 6.93-6.93v-6.14c0-5.603-1.34-6.93-6.93-6.93zm3.077 14.27h-1.454c-.55 0-.72-.438-1.708-1.44-.86-.833-1.242-.946-1.453-.946-.297 0-.381.085-.381.494v1.313c0 .353-.113.565-1.045.565-1.538 0-3.246-.932-4.446-2.668-1.807-2.54-2.3-4.446-2.3-4.841 0-.212.084-.41.493-.41h1.454c.367 0 .508.17.65.565.72 2.075 1.919 3.896 2.413 3.896.183 0 .268-.085.268-.55V8.658c-.056-.988-.579-1.073-.579-1.426 0-.17.142-.339.367-.339h2.287c.31 0 .423.17.423.537v2.893c0 .31.141.424.226.424.184 0 .339-.113.678-.452 1.044-1.171 1.792-2.978 1.792-2.978.099-.212.268-.41.635-.41h1.454c.438 0 .537.226.438.537-.184.847-1.962 3.36-1.962 3.36-.155.253-.212.366 0 .648.155.212.663.65 1.002 1.045.621.706 1.1 1.298 1.228 1.708.141.409-.07.62-.48.62z', fill='#568AD9')
		symbol#youtube(viewbox='0 0 27 19', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M25.473 3.374a3.22 3.22 0 0 0-2.266-2.266c-2.012-.55-10.059-.55-10.059-.55s-8.047 0-10.059.529A3.287 3.287 0 0 0 .824 3.374c-.53 2.011-.53 6.183-.53 6.183s0 4.193.53 6.184a3.221 3.221 0 0 0 2.265 2.265c2.033.551 10.06.551 10.06.551s8.046 0 10.058-.53a3.221 3.221 0 0 0 2.266-2.265c.53-2.012.53-6.184.53-6.184s.02-4.193-.53-6.204z', fill='red')
			path(d='M10.586 13.411l6.692-3.854-6.692-3.854v7.708z', fill='#fff')
		symbol#wave(viewbox='0 0 320 75', fill='none', xmlns='http://www.w3.org/2000/svg', preserveaspectratio="none")
			path(fill-rule='evenodd', clip-rule='evenodd', d='M320 29.0562L313.333 22.9962C306.667 16.9362 293.333 4.81621 280 1.78621C266.667 -1.2438 253.333 4.81621 240 12.3912C226.667 19.9662 213.333 29.0562 200 30.5712C186.667 32.0862 173.333 26.0262 160 30.5712C146.667 35.1162 133.333 50.2662 120 57.8412C106.666 65.4162 93.3331 65.4163 79.9998 56.3262C66.6664 47.2362 53.3331 29.0562 39.9998 21.4812C26.6664 13.9062 13.3331 16.9362 6.66638 18.4512L-0.000306835 19.9662L-0.000311603 74.5063L6.66638 74.5063C13.3331 74.5063 26.6664 74.5063 39.9997 74.5063C53.3331 74.5063 66.6664 74.5063 79.9998 74.5063C93.3331 74.5063 106.666 74.5063 120 74.5063C133.333 74.5063 146.666 74.5063 160 74.5063C173.333 74.5063 186.667 74.5063 200 74.5063C213.333 74.5063 226.667 74.5063 240 74.5063C253.333 74.5063 266.667 74.5063 280 74.5063C293.333 74.5063 306.667 74.5063 313.333 74.5063L320 74.5063L320 29.0562Z', fill='white')
		symbol#close(viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M14.662 1.121l-13 13m13 0l-13-13', stroke='#C3C3C3', stroke-width='3', stroke-miterlimit='10')
		symbol#arrow(viewbox='0 0 16 13', fill='none', xmlns='http://www.w3.org/2000/svg')
			path(d='M2.5 9.98706L8 4.48706L13.5 9.98706', stroke='#fff', stroke-width='5', stroke-linecap='round')