.hero
	display block
	margin-bottom 5rem
	position relative
	&__title 
		margin-bottom 5rem
	&:before
		position absolute
		content ''
		background linear-gradient(180deg, rgba(255, 255, 255, 0) 30.56%, rgba(0, 130, 223, .65) 100%)
		opacity .2
		top 0
		left 0
		width 100%
		height 100%
		z-index -1
		+below($lg)
			display none
	&:after
		position absolute
		content ''
		background url(../images/heroes/hero_wave.svg) center no-repeat
		background-size cover
		opacity 1
		bottom -5px
		left 0
		width 100%
		height 15rem
		z-index 4
		+below($lg)
			display none
	&__container
		overflow hidden
		position relative
		+below($xl)
			&:after
				position absolute
				content ''
				border-radius 50%
				background $rifleniu
				width 89px
				height 89px
				top 20px
				right -35px
				filter blur(7px)
	&__title
		padding-top 10rem
		padding-bottom 4.4rem
		position relative
		z-index 1
	&__wrap
		position relative
		z-index 1
		+below($xl)
			&:before
			&:after
				position absolute
				content ''
				border-radius 50%
				background $rifleniu
			&:before
				width 37px
				height 37px
				top 120px
				left -10px
			&:after
				top 35px
				left 80px
				width 15px
				height 15px
	&__slider
		max-width 1400px
		margin 0 auto
		.swiper
			&-button
				display none
				+above($lg)
					display flex
					justify-content center
					align-items center
					width 6rem
					height 6rem
					border-radius 50%
					background $w
					border 2px solid $grey
					transition .3s
					box-shadow 0 5px 15px transparent
					&:after
						display none
					&.swiper-button-prev
						transform scale(-1, 1)
					&.swiper-button-next
						.icon
							margin-left 4px
					&:hover
						background linear-gradient(283.38deg, #008EF4 0, #63D4FF 100%, #63D4FF 100%)
						box-shadow 0 5px 15px rgba(44, 173, 250, .37)
						border-color $w
						.icon
							stroke $w
			&-slide 
				transition .6s
				display block
				width 34rem
				box-shadow -4px 30px 30px 5px rgba(0, 0, 0, .4)
				overflow hidden
				border-radius 20px
				+below($lg)
					width 50%
					margin-bottom 5.5rem
					&:first-child
						width 100%
						.hero__image-wrap
							width 18rem
							height 18rem
						.hero__value
							max-width 18rem
						.hero__wrapper
							padding-top 4rem
						.hero__name
							max-width 22rem
							left 50%
							transform translateX(-50%)
				+below($md)
					margin-bottom 2.5rem
				.hero__value
					width auto
				.hero__image-block 
					min-height 36rem
					+below($lg)
						min-height 100%
				.hero__wrapper
					padding-top 4rem
					+below($lg) 
						padding 2rem 0
				.hero__name
					z-index 2
					max-width 22rem
					left 50%
					position absolute
					transform translateX(-50%)
					top -6rem
					+below($lg)
						top auto 
						bottom -1.5rem
						max-width 140px
				&:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-nth-prev-2):not(.swiper-slide-nth-next-2):not(.swiper-slide-active) 
					opacity 0
				+below($xl)
					&.swiper-slide-nth-prev-2, &.swiper-slide-nth-next-2
						opacity 0
					&.swiper-slide-prev, &.swiper-slide-next
						box-shadow none
				&:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-active) 
					box-shadow none
				+below($lg)
					&:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-nth-prev-2):not(.swiper-slide-nth-next-2):not(.swiper-slide-active) 
						opacity 1
				.hero__image-wrap_capitan
					.hero__name
						top -8rem
						+below($lg)
							top auto
							bottom -1.5rem
				.hero__image-wrap_eskimon
					.hero__name
						top -8rem
						+below($lg)
							top auto
							bottom -1.5rem
				.hero__image-wrap_lakomka
					.hero__name
						top -10rem
						+below($lg)
							top auto
							bottom -1.5rem
				&.swiper-slide-active
					width 36rem
			+below($lg)
				&-wrapper 
					flex-wrap wrap
	&__item
		display block
		+below($lg)
			.hero__image-wrap 		
				width 18rem
				height 18rem
				border-radius 50%
				position relative
				margin 0 auto
				+below($md)
					width 13rem
					height 13rem
			&_capitan
				.hero__image-wrap
					background $capitan
			&_hrust
				.hero__image-wrap
					background $hrust
			&_eskimon
				.hero__image-wrap
					background $eskimon
			&_kaktus
				.hero__image-wrap
					background $kaktus
			&_lakomka
				.hero__image-wrap
					background $lakomka
			&_plombirovna
				.hero__image-wrap
					background $plombirovna
			&_raduga
				.hero__image-wrap
					background $raduga
				.hero__value
					max-height 16rem
			&_rifleniu
				.hero__image-wrap
					background $rifleniu
			&_rojoker
				.hero__image-wrap 
					background $rojoker
		+above($lg)
			padding 50px 5px
			border-radius 20px
			&_capitan
				background $capitan
			&_hrust
				background $hrust
			&_eskimon
				background $eskimon
			&_kaktus
				background $kaktus
			&_lakomka
				background $lakomka
			&_plombirovna
				background $plombirovna
			&_raduga
				background $raduga
			&_rifleniu
				background $rifleniu
			&_rojoker
				background $rojoker
			.hero__value
				+above($xl)
					max-width 100%
					max-height 100%
	&__image-wrap
		position relative
		margin 0 auto
	&__image-block
		width 100%
		height 100%
		overflow hidden
	&__value
		position absolute
		max-width 100%
		max-height 100%
		bottom 0
		left 50%
		transform translateX(-50%)


