mixin questions()
	+b('section').questions&attributes(attributes)
		.container
			+e('ul').list
				+e('li').item._common
					+e('p').title Общие положения
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						p Настоящие правила регламентируют порядок организации и проведения стимулирующей рекламной акции «Битва Пломбиров» (далее — Акция). Информация об организаторе Акции, правилах её проведения, количестве подарков, месте и порядке их получения размещается на сайте bitvaplombirov.ru (далее – сайт). Данная Акция не является лотереей либо иной игрой, основанной на риске, поэтому не требует обязательной регистрации или направления уведомления в соответствующие государственные органы. Цель Акции — стимулирование сбыта продукции, реализуемой организатором Акции. Территория проведения Акции — Российская Федерация. 
				+e('li').item._count
					+e('p').title Организатор акции
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						p Организатором акции является ООО «Чистая Линия» (далее – Организатор). Юридический адрес: 
				+e('li').item._count
					+e('p').title Сроки проведения акции
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						+e('ul')
							+e('li')(data-number="2") Общий срок проведения акции с 15.03.2020 по 25.12.2020
							+e('li')(data-number="2") Период регистрации промо-кодов на сайте с 15.03.2020 по 30.08.2020
							+e('li')(data-number="2") Период выдачи призов с 15.03.2020 по 25.12.2020
				+e('li').item._count
					+e('p').title Участники акции, их права и обязанности 
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						+e('ul')
							+e('li')(data-number="3") Участником акции может стать любое физическое лицо, достигшее 18 лет и являющееся гражданином Российской Федерации.
							+e('li')(data-number="3") Для участия в акции необходимо зарегистрироваться на сайте bitvaplombirov.ru, после чего участнику станет доступен Личный Кабинет.
							+e('li')(data-number="3") Участники имеют права и несут обязательства, установленные действующим законодательством Российской̆ Федерации, а также настоящими правилами.
							+e('li')(data-number="3") Совершение Участником действий, предусмотренных настоящими правилами Акции, означает его согласие с настоящими правилами и условиями проведения Акции.
				+e('li').item._count
					+e('p').title Права и обязанности организатора
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						+e('ul')
							+e('li')(data-number="4") Организатор имеет право исключить из состава Участников или числа победителей, действия которых не соответствуют условиям Акции. 
							+e('li')(data-number="4") Организатор Акции пользуется всеми правами, предусмотренными настоящими правилами и действующим законодательством РФ.
							+e('li')(data-number="4") Организатор оставляет за собой право на своё усмотрение в одностороннем порядке прекратить, изменить или приостановить проведение Акции при условии размещения соответствующего уведомления на сайте bitvaplombirov.ru не менее чем за 2 (два) календарных дня до 
				+e('li').item._count
					+e('p').title Порядок участия в Акции, сроки получения и использования подарков 
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						+e('ul')
							+e('li')(data-number="5") Перечень продукции, участвующей в Акции, приведен в Приложении №1 настоящих Условий. 
							+e('li')(data-number="5") Внутри каждой упаковки мороженого «Чистая Линия» с отметкой об акции «Битва пломбиров» размещен уникальный промо-код. 
							+e('li')(data-number="5") Каждый промо-код содержит информацию о моментальном выигрыше подарка, а также бонусные баллы.
							+e('li')(data-number="5") Промо-код может быть не выигрышным, но каждый промо-код имеет бонусные баллы.
							+e('li')(data-number="5") Проверить промо-код на выигрыш и количество баллов можно на сайте bitvaplombirov.ru
							+e('li')(data-number="5") После проверки промо-кода информация о подарках и промо-кодах сохраняется и показывается в Личном Кабинете участника.
							+e('li')(data-number="5") Участник может копить бонусные баллы и обменивать их на доступные в личном Кабинете подарки. 
							+e('li')(data-number="5") Также по своему усмотрению участник может отказаться от выигрыша по промо-коду в обмен на бонусные баллы. 
							+e('li')(data-number="5") Все операции по бонусным баллам проводятся только самим участником в своем Личном Кабинете. Обмен баллов на подарки невозможен никакими иными способами (через офис компании, по телефону и пр.). 
							+e('li')(data-number="5") Один участник может иметь один Личный Кабинет, может активировать не более 1000 промо-кодов и использовать не более 1000 бонусных баллов.
							+e('li')(data-number="5") Участник не может предать свои баллы другому лицу или 	
				+e('li').item._count
					+e('p').title Призовой фонд
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						+e('ul')
							+e('li')(data-number="6") Перечень, количество, описание и правила выдачи подарков указаны в Приложении №2 настоящих Условий. 
							+e('li')(data-number="6") Перечень подарков в обмен на баллы приведен в Приложении №3.
							+e('li')(data-number="6") Количество призов ограничено. 
							+e('li')(data-number="6") Вознаграждение или бонусные баллы не могут быть выданы в денежном или ином другом эквиваленте.
				+e('li').item._count
					+e('p').title Заключительные положения
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						+e('ul')
							+e('li')(data-number="7") Порядок проведения Акции, настоящие правила, а также любая деятельность,связанная с Акцией, регулируются законодательством РФ.
							+e('li')(data-number="7") Организатор вправе в любое время вносить изменения в настоящие правила в одностороннем порядке. Организатор обязан уведомить потребителей об изменениях в правилах на сайте bitvaplombirov.ru
							+e('li')(data-number="7") При досрочном прекращении Акции Организатор обязан уведомить о таком прекращении путём размещения соответствующей информации на сайте bitvaplombirov.ru
							+e('li')(data-number="7") Обязанности по уплате налогов и сборов, установленных действующим законодательством РФ, несёт лицо, получившее подарок.
							+e('li')(data-number="7") Ответственность Организатора перед Участником ограничена подарком, на который Участник имеет право.
							+e('li')(data-number="7") Данные правила являются единственными официальными правилами участия в Акции.
							+e('li')(data-number="7") Более подробную информацию об Акции вы можете получить по телефону Организаторов Акции: указать. 
			+e('ul').list_attachment
				+e('li').item._count(data-number="1")
					+e('p').title к Условиям акции «Битва пломбиров»
						+b('svg').icon._link
							use(xlink:href='#link-arrow')
					+e('div').text
						p Перечень продукции, участвующий в Акции:
						+e('ul')
								+e('li')(data-number="1") Московская Лакомка (80 г, ваниль)
								+e('li')(data-number="1") Эскимо «Российское» (80 г, ваниль)
								+e('li')(data-number="1") Вафельный стаканчик флоу-пак (80 г, ваниль)
								+e('li')(data-number="1") Стаканчик «Радуга» (90 г, ваниль)
								+e('li')(data-number="1") Эскимо Рожок флоу-пак (110 г)
								+e('li')(data-number="1") Эскимо Рожок «Радуга» (110 г, ваниль)
								+e('li')(data-number="1") Эскимо Сахарная трубочка (70 г, ваниль)
								+e('li')(data-number="1") Эскимо Пломбир «Семейный» (450 г, ваниль)
								+e('li')(data-number="1") Эскимо Пломбир ванильный в апельсиновой глазури (70 г)
								+e('li')(data-number="1") Эскимо Пломбир с клубникой в глазури «Кактус» (80 г)
						p Упаковка акционной продукции отмечена значком «Битва пломбиров».

