.part
	display block
	&__wrapper
		display flex
		justify-content center
		position relative
		padding 8rem 0
		background-color #F3F3F3
		background-image url(/assets/images/pattern.svg)
	&__back
		display none
