.hero-list
	display block
	+below($lg)
		display none
	&__wrapper
		display flex
		align-items center
		padding 13rem 10% 14rem
	&__wrap
		position relative
		width 130px
		height 130px
		border-radius 50%
		margin-right 4rem
	&__image
		position absolute
		max-width 130px
		max-height 150px
		bottom 0
		left 50%
		transform translateX(-50%)
	&.hero-page
		.hero-list__wrapper
			padding 13rem 5% 14rem
			justify-content space-around
		+below($xxl)
			.hero-list__wrap
				width 8rem
				height 8rem
		+below($xxl)
			.hero-list__wrap
				width 6rem
				height 6rem
				margin 0
			.hero-list__image
				max-width 10rem
				max-height 10rem
			.hero-list__wrapper
				padding 8rem 5% 