$r = 'Rubik'
$bor = 'b'
$xs = 0
$sm = 576px // screen and (min-width: 576px)
$md = 768px // screen and (min-width: 768px)
$lg = 992px  // screen and (min-width: 992px)
$xl = 1280px // screen and (min-width: 1280px)
$xxl = 1630px // screen and (min-width: 1630px)
$b = #434242
$w = #ffffff
$dgrey = #B5B5B5
$grey = #F3F3F3
$blue = #008EF4
$red = #E24B4B
$gradient = linear-gradient(195.7deg, #008EF4 -0.15%, #63D4FF 100%)
$hrust = linear-gradient(195.7deg, #FFD84F -0.15%, #FF8A00 100%)
$eskimon = linear-gradient(204.03deg, #FCFF71 0%, #FFC632 99.52%)
$raduga = linear-gradient(204.88deg, #FFC2D1 0%, #CA5393 98.42%)
$kaktus = linear-gradient(204.88deg, #D3FF76 0%, #62C812 98.42%)
$capitan = linear-gradient(204.03deg, #FF9B71 0%, #FF3E32 99.52%)
$rojoker = linear-gradient(204.03deg, #AACCFF 0%, #4A5CFF 99.52%)
$rifleniu = linear-gradient(204.03deg, #8CFFF8 0%, #0683AB 99.52%)
$plombirovna = linear-gradient(204.03deg, #AAFAFF 0%, #37ABFF 99.52%)
$lakomka = linear-gradient(204.03deg, #FFC1F5 0%, #E039EF 99.52%)
