extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/sprite/sprite
include /blocks/faq/faq
include /blocks/questions/questions
include /blocks/footer/footer
block head
	- var pageTitle = 'Project Template';

block content
	+sprite
	+header(false, true, true)
	+faq
		+e.background
			svg(viewBox='0 0 320 134', fill='none', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio="none"  )
				path(d='M0 0H320V60H7.6294e-06L0 0Z', fill='url(#paint0_linear)')
				path(fill-rule='evenodd', clip-rule='evenodd', d='M0 105.45L6.66667 111.51C13.3333 117.57 26.6667 129.69 40 132.72C53.3333 135.75 66.6667 129.69 80 122.115C93.3333 114.54 106.667 105.45 120 103.935C133.333 102.42 146.667 108.48 160 103.935C173.333 99.39 186.667 84.24 200 76.665C213.333 69.09 226.667 69.09 240 78.18C253.333 87.27 266.667 105.45 280 113.025C293.333 120.6 306.667 117.57 313.333 116.055L320 114.54L320 60H313.333C306.667 60 293.333 60 280 60C266.667 60 253.333 60 240 60C226.667 60 213.333 60 200 60C186.667 60 173.333 60 160 60C146.667 60 133.333 60 120 60C106.667 60 93.3333 60 80 60C66.6667 60 53.3333 60 40 60C26.6667 60 13.3333 60 6.66667 60H7.6294e-06L0 105.45Z', fill='url(#paint1_linear)')
				defs
					lineargradient#paint0_linear(x1='317.5', y1='-0.556318', x2='297.684', y2='168.425', gradientUnits='userSpaceOnUse')
						stop(stop-color='#008EF4')
						stop(offset='1', stop-color='#63D4FF')
					lineargradient#paint1_linear(x1='317.5', y1='-0.556318', x2='297.684', y2='168.425', gradientUnits='userSpaceOnUse')
						stop(stop-color='#008EF4')
						stop(offset='1', stop-color='#63D4FF')
		+e.wrapper
			+e('h1').title.title Условия акции
			+questions('faq')
	+footer
