extends /blocks/layout-default/layout-default

include /blocks/slider-services/slider-services
include /blocks/header/header
include /blocks/promo/promo
include /blocks/sprite/sprite
include /blocks/rules/rules
include /blocks/part/part
include /blocks/hero/hero
include /blocks/rating/rating
include /blocks/video/video
include /blocks/gift/gift
include /blocks/top/top
include /blocks/footer/footer
include /blocks/photo/photo
include /blocks/stat/stat
include /blocks/extra/extra
include /blocks/summ/summ

block head
	- var pageTitle = 'hero';

block content
	-var hero = 'hrust'
	+sprite
	+header(true, false, true)
	+photo(getData(hero))
	+stat(getData(hero))
	+extra(getData(hero))
	+summ(getData(hero))
	+footer
