extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/promo/promo
include /blocks/sprite/sprite
include /blocks/rules/rules
include /blocks/part/part
include /blocks/hero/hero
include /blocks/rating/rating
include /blocks/video/video
include /blocks/gift/gift
include /blocks/top/top
include /blocks/footer/footer
include /blocks/scroll/scroll

block head
	- var pageTitle = 'Project Template';

block content
	+sprite
	+header(false, true, false)
	+promo
	+rules
	+part('part1.png', 'part2.png')
	+hero
	+rating
	+video
	+gift
	+part('part3.png')
	+top
	+footer
	+scroll
