extends /blocks/layout-default/layout-default

include /blocks/sprite/sprite
include /blocks/rating-popup/rating-popup

block head
	- var pageTitle = 'rating';

block content
	+sprite
	+rating-popup(getData('hrust'))

