extends /blocks/layout-default/layout-popup

include /blocks/header/header
include /blocks/sprite/sprite
include /blocks/vote-popup/vote-popup


block content
	+sprite
	+vote-popup(getData('hrust'))

