mixin social()
	+b.social&attributes(attributes)
		+e('ul').list
			+e('li').item
				+e('a').link(href="", target="_blank")
					+b('svg').icon._inst
						use(xlink:href='#inst')
			+e('li').item
				+e('a').link(href="")
					+b('svg').icon._youtube
						use(xlink:href='#youtube')
			+e('li').item
				+e('a').link(href="")
					+b('svg').icon._fb
						use(xlink:href='#facebook')
			+e('li').item
				+e('a').link(href="")
					+b('svg').icon._vk
						use(xlink:href='#vk')
