mixin social()
	+b.social&attributes(attributes)
		+e('ul').list
			+e('li').item
				+e('a').link(href="https://www.instagram.com/chistaya_liniya_icecream/", target="_blank")
					+b('svg').icon._inst
						use(xlink:href='#inst')
			+e('li').item
				+e('a').link(href="https://www.youtube.com/channel/UCI2t0s9So94s5XogqmJqvPw")
					+b('svg').icon._youtube
						use(xlink:href='#youtube')
			+e('li').item
				+e('a').link(href="https://www.facebook.com/chistayaliniya/")
					+b('svg').icon._fb
						use(xlink:href='#facebook')
			+e('li').item
				+e('a').link(href="https://vk.com/chistaya_liniya")
					+b('svg').icon._vk
						use(xlink:href='#vk')
