.photo
	display block
	position relative
	&__wrapper
		padding-top 6rem
		&_hrust
			background $hrust
	&__background
		width 100%
		position absolute
		bottom -1px
		height 75px
	&__img-wrapper
		position relative
	&__image
		display flex
		justify-content center
