.contact
	display block
	&__wrapper
		display flex
		flex-direction column-reverse
	&__links
		&-href
			text-decoration none
			display flex
			padding 3.25rem 1.5rem
			border-top 2px solid $grey
			align-items center
		&-icon
			margin-right 2.7rem
		&-text
			font-size 1.4rem
			line-height 1.43
			color $blue
			font-weight 700
	&__data
		&-list
			padding 0 3.5rem
		&-href
			display flex
			flex-direction column
			padding 3.7rem 2rem 3.3rem
			text-decoration none
		&-item
			border-bottom 2px solid $grey
			&:last-child
				border-bottom-color transparent
		&-value
			font-size 2.2rem
			line-height 1.36
			color $b
		&-icon
			margin-bottom 1.6rem
