.dev
	display block
	margin 0 auto
	text-align center
	+above($xl)
		background $grey
	&__link
		display inline-block
		padding 1.5rem 0
		text-decoration none
		font-size 1.4rem
		line-height 1.43
		color $dgrey
	&__name
		font-weight 700
		text-decoration underline
		+above($xl)
			text-decoration none