.summ
	display block
	position relative
	padding-top 10.3rem
	padding-bottom 3rem
	&:after
		top 0
		position absolute
		content ''
		width 100%
		height 20%
		background-image url(../images/summ-vawe.svg)
		background-repeat repeat-x
	&__wrapper
		margin 0 1.5rem
		padding 5rem 2rem .6rem
		background-color $w
		border-radius 20px
		box-shadow 0 1px 1px rgba(183, 99, 0, .08), 0 2px 2px rgba(183, 99, 0, .08), 0 4px 4px rgba(183, 99, 0, .08), 0 8px 8px rgba(183, 99, 0, .08), 0 16px 16px rgba(183, 99, 0, .08)
	&__background
		display none
	&__title
		margin-bottom 2rem
	&__text
		margin-bottom 4.3rem
