.rules
	display block
	background-image $gradient
	padding-bottom 4rem
	+above($xl)
		padding-bottom 8rem
	&__title
		padding-top 9rem
		padding-bottom 4.7rem
	&__slider
		.swiper-slide
			height 440px
			+above($lg) 
				width 32%
				min-height 45rem
			+above($xl)
				width 38rem
				min-height 48rem
			&:first-child
				.slider__image-wrap
					padding-top 2.6rem
				.slider__value
					position relative
					transform translateX(-15px)
				.slider__rule
					padding 0 3.5rem
		.swiper-wrapper
			padding-bottom 4rem 
			+above($md)
				padding-bottom 4rem
				display flex
				justify-content space-around
			+above($xl)
				max-width 1180px
				margin 0 auto 
				justify-content space-between
				box-sizing border-box
				
		.swiper-pagination
			position relative
			padding-top 3.7rem
			+above($xl)
				display none
		.swiper-pagination-bullet
			margin 0 5px
			width 10px
			height 10px
			background-color $w
			opacity 1
			&.swiper-pagination-bullet-active
				box-shadow 0 0 0 2.5px $w
			&:first-child
				&.swiper-pagination-bullet-active
					background linear-gradient(204.03deg, #D3FF76 0, #62C812 100%)
			&:nth-child(2)
				&.swiper-pagination-bullet-active
					background linear-gradient(204.03deg, #FFC1F5 0, #E039EF 100%)
			&:nth-child(3)
				&.swiper-pagination-bullet-active
					background linear-gradient(204.03deg, #FFD84F 0, #FF8A00 100%)
		.slider__container
			background-color $w
			border-radius 16px
			height 100%
			box-shadow 0 1px 1px rgba(0, 56, 166, .08), 0 2px 2px rgba(0, 56, 166, .08), 0 4px 4px rgba(0, 56, 166, .08), 0 8px 8px rgba(0, 56, 166, .08), 0 16px 16px rgba(0, 56, 166, .08) 
			overflow visible
			+above($xl)
				padding 3rem
		.slider__image-wrap
			position relative
			margin-bottom 3.4rem
		.slider__num
			display block
			text-align center
			font-family $bor
			font-size 2.2rem
			line-height 1.82
			color $blue
			margin-bottom 1rem
		.slider__rule
			padding 0 2rem
			text-align center
			&.sub 
				max-width 100%
		.slider__text
			padding .82rem 1.5rem 0
			font-family $r
			font-size 1.8rem
			line-height 1.39
			text-align center
		.slider__image-wrap
			padding-top 5.5rem
			display flex
			justify-content center

