mixin gift()
	+b.gift&attributes(attributes)
		+e('img').icecream.left(src="./assets/images/icecream-left.png", alt="")
		+e('img').icecream.right(src="./assets/images/icecream-right.png", alt="")
		+e('img').icecream.bottom(src="./assets/images/icecream-bottom.png", alt="")
		+e.background
			svg(viewbox='0 0 320 307', fill='none', xmlns='http://www.w3.org/2000/svg', preserveaspectratio="none")
				path(fill-rule='evenodd', clip-rule='evenodd', d='M-0.0310059 28.0814L17.8357 32.8814C35.4357 37.6814 71.169 47.2814 106.636 39.2814C122.882 35.6168 139.184 28.2593 155.491 20.8996C174.783 12.1926 194.082 3.48262 213.302 0.881359C248.769 -3.91864 284.502 12.0814 302.102 20.0814L319.969 28.0814V66.3441H320.031L320.031 233.483V288.023L313.364 289.538C306.698 291.053 293.364 294.083 280.031 286.508C272.851 282.429 265.672 275.276 258.492 268.122C252.339 261.99 246.185 255.859 240.031 251.663C226.698 242.573 213.364 242.573 200.031 250.148C194.475 253.304 188.92 257.776 183.364 262.247C175.586 268.507 167.809 274.767 160.031 277.418C152.253 280.069 144.475 279.112 136.698 278.155C131.142 277.471 125.586 276.787 120.031 277.418C108.92 278.681 97.8086 285.204 86.6975 291.727C84.4753 293.031 82.2531 294.336 80.0309 295.598C66.6976 303.173 53.3642 309.233 40.0309 306.203C26.6976 303.173 13.3642 291.053 6.69755 284.993L0.0308838 278.933V241.356H-0.0310059V66.4814V66.3441V28.0814Z', fill='#F3F3F3')
		+e('h2').title.title Призы
		+e('p').subtitle Выигрывай призы по промо-коду <br> или обменивай на баллы!
		+b.slider.gift__slider
			.swiper-container.swiper-gifts 
				.swiper-wrapper
					for slide, index in getData('gifts') 
						a.swiper-slide.gift-modal(data-slide-index="#{index}")
							+e('div').container
								+e('div').wrapper
									+e('div').image-wrap
										+e('img').value(src="./assets/images/gifts/#{slide.image}" alt="")
									+e.text-block
										+e('h3').sub.sub= slide.title
										if slide.text
											+e('p').text= slide.text
				.swiper-pagination
