.info
	display block
	&__wrapper
		display flex
		flex-direction column
	&__container 
		+above($lg) 
			padding-top 7rem
	&__link-href
		display flex
		justify-content space-between
		text-decoration none
		font-family $bor
		color $b
		font-size 2.2rem
		padding 5.2rem 1.5rem
		align-items center
		border-bottom 2px  solid $grey
		transition .3s
		&:hover 
			color $blue
		+above($lg) 
			border none 
			padding 1rem 5.5rem
			display inline-block
			span
				margin-right 1rem
		+above($xxl)
			padding 1rem 1.5rem
	&__link-block 
		+above($lg)
			order 2
		+above($xxl)
			width 120rem 
			margin 0 auto 
	&__link-list 
		+above($xl)
			margin-left 10rem
	&__promo
		position relative
		+above($sm)
			order 1
		&-image
			width 100%
			&.xl
				display none
			+above($sm)
				&.xl
					display block
					height 100%
					object-fit cover
				&:not(.xl)
					display none
		&-img-block
			position relative
			line-height 0
			+above($sm)
				height 22rem
		&-overlay
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background-color #000000
			opacity .5
		&-content
			position absolute
			top 0
			left 0
			display flex
			padding 2.5rem 3rem
			flex-direction column
			height 100%
			justify-content space-between
			align-items center
			+below($sm) 
				justify-content center
				padding 2.5rem 6rem
				.info__promo-logo 
					margin-bottom 2rem
			+above($sm) 
				width 100%
				flex-direction row
				align-items center
				justify-content space-around
			+above($xl)
				padding 2.5rem 10rem
			+above($xxl)
				max-width 120rem 
				left 50%
				transform translateX(-50%)
		&-logo
			max-width 126px
			height auto
			+above($sm)
				max-width 155px
				flex-basis 35%
		&-text
			font-size 1.4rem
			line-height 1.43
			color $w
			font-weight 700
			text-align center
			br 
				display none
			+above($sm)
				font-family b
				font-weight normal
				flex-basis 65%
				text-align left
				font-size 2.2rem
				font-style normal
				text-transform uppercase
			+above($lg)
				br
					display block
			+above($xxl)
				flex-basis 60%