mixin extra(hero)
	+b.extra&attributes(attributes)
		+e.wrapper
			+e.block._weapon
				+e.image-block
					+e.image(src="./assets/images/heroes/#{hero.weaponImage}")
				+e('span').lable Боевое оружие
				+e('span').title.sub= hero.weapon
				.circle-block
					+b('i').cirle._s
					+b('i').cirle._m
					+b('i').cirle._xl._blur
			+e.block._enemy
				+e.image-block
					+e.image(src="./assets/images/heroes/#{hero.enemyImage}")
				+e('span').lable Злейший враг
				+e('span').title.sub= hero.enemy
				.circle-block
					+b('i').cirle._sm
					+b('i').cirle._l
					+b('i').cirle._xxl._blur
