include /blocks/info/info
include /blocks/contact/contact
include /blocks/social/social
include /blocks/dev/dev

mixin footer()
	+b('footer').footer&attributes(attributes)
		+info
		+contact
		+social
		+dev

