.rating
	display block
	margin-bottom 4rem
	position relative
	&__head
		text-align center
	&__icon
		margin-bottom 4.1rem
	&__title
		margin-bottom 1.6rem
		padding 0 20%
	&__subtitle
		font-family $r
		font-size 1.8rem
		line-height 1.39
		margin-bottom 5.2rem
	&__button
		&-wrapper 
			display flex
			justify-content center
			transition .6s
			opacity 1
	&__item
		text-decoration none
		&_capitan
			.rating__image-wrap
				background $capitan
				&:before
				&:after
					background $capitan
		&_hrust
			.rating__image-wrap
				background $hrust
				&:before
				&:after
					background $hrust
		&_eskimon
			.rating__image-wrap
				background $eskimon
				&:before
				&:after
					background $eskimon
		&_kaktus
			.rating__image-wrap
				background $kaktus
				&:before
				&:after
					background $kaktus
		&_lakomka
			.rating__image-wrap
				background $lakomka
				&:before
				&:after
					background $lakomka
		&_plombirovna
			.rating__image-wrap
				background $plombirovna
				&:before
				&:after
					background $plombirovna
		&_raduga
			.rating__image-wrap
				background $raduga
				&:before
				&:after
					background $raduga
		&_rifleniu
			.rating__image-wrap
				background $rifleniu
				&:before
				&:after
					background $rifleniu
		&_rojoker
			.rating__image-wrap
				background $rojoker
				&:before
				&:after
					background $rojoker
	&__image-wrap
		position relative
		width 28.6rem
		height 28.6rem
		border-radius 50%
		margin-bottom 1.7rem
		margin-left auto
		margin-right auto
		&_capitan 
			.rating__name 
				bottom -20px
		&:before
		&:after
			position absolute
			content ''
			border-radius 50%
			transition .6s 
			opacity 1
		&:before
			left 10px
			top 5px
			width 37px
			height 37px
			+below($lg)
				top -20px
		&:after
			left 48px
			top 0
			width 13px
			height 13px
			+below($lg)
				top -30px
		+below($xl)
			width 24rem
			height 24rem
		+above($xl)
			margin-left auto
			margin-right auto
	&__value
		max-height 286px
		+below($xl)
			max-height 242px
	&__name
		position absolute
		max-width 250px
		bottom 15px
		left 50%
		transform translateX(-50%)
		transition .6s
		opacity 1
	&__num-value
		display flex
		flex-direction column
		transition .6s
		opacity 1
	&__percent
		margin-bottom 1.3rem
		font-family $bor
		font-size 4.5rem
		color $b
	&__point
		font-size 2rem
		line-height 3rem
		color $blue
		margin-bottom 2.3rem
	&__wrapper 
		transition .6s
	&__slider
		max-width 1200px
		margin 0 auto
		.swiper
			&-button
				display none
				+above($md)
					display flex
					justify-content center
					align-items center
					width 6rem
					height 6rem
					border-radius 50%
					background $w
					border 2px solid $grey
					transition .3s
					box-shadow 0 5px 15px transparent
					top 50%					
					&:after
						display none
					&.swiper-button-prev
						transform scale(-1, 1) translateY(calc(-50% - 5rem))
					&.swiper-button-next
						transform translateY(calc(-50% - 5rem))
						.icon
							margin-left 4px
					&:hover
						background linear-gradient(283.38deg, #008EF4 0, #63D4FF 100%, #63D4FF 100%)
						box-shadow 0 5px 15px rgba(44, 173, 250, .37)
						border-color $w
						.icon
							stroke $w
			&-container 
				width 100%
				padding 3rem 0	
			&-slide 
				width 300px
				padding 0 15px
				transition .6s
				&:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-nth-prev-2):not(.swiper-slide-nth-next-2):not(.swiper-slide-active) 
					opacity 0
				&:not(.swiper-slide-prev):not(.swiper-slide-next):not(.swiper-slide-active)
					opacity .4
					margin-top -4rem
					margin-bottom 4rem
					+below($lg)
						opacity 0
					.rating
						&__wrapper 
							transform scale(.8) 
						&__name 
							opacity 0
						&__button-wrapper 
							opacity 0
						&__image-wrap 
							&:before
							&:after
								opacity 0
						&__num-value 
							opacity 0
				&:not(.swiper-slide-nth-prev-2):not(.swiper-slide-nth-next-2):not(.swiper-slide-active)
					opacity .8
					margin-top -2rem
					margin-bottom 2rem
					.rating
						&__wrapper 
							transform scale(.9) 
						&__name
							opacity 0
						&__button-wrapper 
							opacity 0
						&__image-wrap 
							&:before
							&:after
								opacity 0
						&__num-value 
							opacity 0
