.promo
	padding-top 83px
	display block
	background-color $blue
	background-image url(../images/background-promo.jpg)
	background-repeat no-repeat
	background-size cover
	background-position center bottom
	position relative
	overflow hidden
	+above($xl)
		background-image url(../images/promo-bg/1.jpg)
		background-size 100%
		background-position 0 100%
	&__title
		padding-top 4.3rem
		margin-bottom 3.5rem
		+above($xl)
			font-size 4.5rem
			line-height 1
			text-align left
			padding-top 39%
	&__input-block
		// padding-bottom 40rem
	&__input-wrapper
		width 25.8rem
		position relative
		margin 0 auto
		border-radius 10px
		background-image linear-gradient(204.03deg, #2BA6FF 0, #82DCFF 100%)
		padding 4px
	&__button
		position absolute
		right 14px
		top 50%
		transform translateY(-50%) rotate(180deg)
		background $grey
		&:hover
			background linear-gradient(204.03deg, #FFC2E3 0, #CD6ECF 100%)
			box-shadow 0 5px 10px rgba(216, 128, 212, .6)
			.icon_back
				stroke $w
	&__input
		width 100%
		height 7.5rem
		font-family $bor
		font-size 2.5rem
		line-height 1
		border-radius 10px
		border none
		outline none
		padding 0 65px 0 20px
		color $b
		&::placeholder
			font-family $r
			font-size 2rem
			line-height 1.5
			color $dgrey
			text-align center
			padding-left 45px
		&-wrapper
			+above($xl)
				width 100%
	&__background
		position relative
		top -20px
		display flex
		justify-content center
		margin-bottom -20px
		+above($xl)
			position absolute
			top 0
			left 0
			width 100%
			height 100%
		&-img
			width 590px
			+above($xl)
				width 100%
				height auto
	&__content
		+above($xl)
			width 380px
			margin-left auto
