mixin promo()
	+b.promo&attributes(attributes)
		.container
			+e.content
				+e('h1').title.title._white проверь свою удачу!
				+e.input-block
					+e.input-wrapper
						+e('input').input(type="text" placeholder="Введи код")
						+e('button').button.button._circle
							+b('svg').icon._back
								use(xlink:href='#back')
		+e.background
			+e('picture')
				source(srcset="./assets/images/promo-bg/promo-xxl.jpg" media="(min-width: 1630px)") 
				source(srcset="./assets/images/promo-bg/promo-lg.jpg" media="(min-width: 1200px)") 
				+e('img').background-img_mobile(src="./assets/images/foreground.png", alt="")
